.glyphicon {
	color: #0acdc3;
	font-size: 50px;
}

#homeHeading {
	text-transform: lowercase;
}

.icon {
	max-width: 100px;
	max-height: 100px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
	color: #fff;
}
